@keyframes move-horizontally-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20px);
    }
}

@keyframes move-horizontally-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(40px);
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    gap: 0.125rem;
    width: 100%;    

    .section {
        height: 600px;
        width: 25%;
        box-shadow: 0 0 5px #00000050;
        border-radius: 4px;
        overflow: hidden;

        &:hover {
            .background-img {
                scale: 1;
            }
        }
    }

    .background-img {
        background-size: cover;
        width: 100%;
        height: 100%;
        transition: 300ms ease;
        scale: 1.25;
                     

    }

    .section:nth-child(1) .background-img {
        background-position-x: 0%;
    }
    .section:nth-child(2) .background-img {
        background-position-x: 25%;
    }
    .section:nth-child(3) .background-img {
        background-position-x: 50%;
    }
    .section:nth-child(4) .background-img {
        background-position-x: 75%;
    }

}

.photos {
    text-align: center;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    .see-more {
        position: absolute;
        width: 100%;
        left: 0;
        height: 50px;
        top: calc(100%);
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        button {
            box-shadow: 0 4px 5px #00000030;
        }

        .line {
            width: 40%;
            height: 2px;
            background-color: $black;
        }
    }
    
    .photos-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-rows: 250px;
        grid-auto-flow: dense;
        gap: .5rem;

        .photo {
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 0 5px #00000030;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .hover {
                position: absolute;
                height: 100%;
                width: 100%;
                background-size: 0%;
                color: $white;
            
            }

            .details {
                display: flex;
                justify-content: space-between;
                padding: 0 1rem;
                align-items: center;
                position: absolute;
                top: calc(100% - 50px);
                width: 100%;
                height: 50px;
                transform: translateY(100%);
                opacity: 0;
                pointer-events: none;
                transition: 300ms ease;


            }
            
            .download-btn {
                position: absolute;
                width: 35px;
                height: 35px;
                top: .5rem;
                right: .5rem;
                cursor: pointer;
                background-color: rgb(95, 190, 95);
                border-radius: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 300ms ease;

                transform: translateX(100%);
                opacity: 0;
                pointer-events: none;
            }

            &:hover {
                box-shadow: 0 0 5px #00000090;

                .hover {
                    background: linear-gradient(to top, #00000080, #00000000);
                }

                .details, .download-btn {
                    opacity: 1;
                    pointer-events: all;
                }

                .details {
                    transform: translateY(0%);

                }

                .download-btn {
                    transform: translateX(0%);

                }


            }
        }

        .span-w {
            grid-column: span 2;
        }

        .span-h {
            grid-row: span 2;

        }

        .span-wh {
            grid-column: span 2;
            grid-row: span 2;
        }
    }

}

@media (max-width: 800px) {
    .wrapper {
        height: 600px;

        .section {
            height: 400px;
        }
    }
}

@media (max-width: 600px) {
    .wrapper {
    height: 500px;

        .section {
            height: 300px;
        }
    }
}


@media (max-width: 500px) {
    .wrapper {
        height: 300px;

        .section {
            height: 200px;
        }
    }
}

.image-details {
    text-align: center;
}