.panorama {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: 200ms ease;
    text-align: center;

    .img-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 100%;
      
        img {
            width: 100%;
            height: 100%;
        }
    }

    h2 {
        font-weight: 500;
    }

    &:hover {
        box-shadow: 0 4px 5px #00000070;
        scale: 1.05;
    }

}

.panoramas {
    width: 100%;
}

.panoramas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 300px;
    justify-content: center;
    grid-auto-flow: dense;
    gap: 1rem;

}

@media (max-width: 600px) {
    .panoramas-grid {
        grid-template-columns: auto;
    }
}