@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

img {
  max-width: 100%;
}

button, input, textarea {
  outline: none;
  border: none;
  font-family: "Lexend", serif;
}

body {
  font-family: "Lexend", serif;
  color: #000;
  background-color: #ececec;
  background-image: url("../assets/images/background.png");
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  min-height: 60dvh;
}

.section {
  max-width: 1400px;
  margin: 0 auto;
}

.m-top {
  margin-top: 80px;
}

.padd {
  padding: 0.5rem;
}

.h-space {
  margin: 10vh 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.accent {
  color: #D17D4F;
}

.button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  cursor: pointer;
  transition: 200ms ease;
}
.button:hover {
  opacity: 0.8;
}
.button:active {
  scale: 0.9;
}

.primary-btn {
  background-color: #D17D4F;
  color: #FFF;
}

.sub-title {
  font-weight: 500;
}

.max-h {
  height: calc(100dvh - 160px);
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.not-found .wrapper {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}

.title-comp {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0;
}
.title-comp h1 {
  font-weight: 400;
}
.title-comp .line {
  width: 40%;
  height: 2px;
  background-color: #000;
}

.navbar {
  width: 100%;
  position: fixed;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5647058824), rgba(0, 0, 0, 0));
  z-index: 999999;
  font-family: "Lexend", serif;
}
.navbar .left, .navbar .right, .navbar .center {
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
}
.navbar .center {
  gap: 1rem;
}
.navbar .nav-item {
  transition: 400ms ease-in-out;
  font-size: 1.35rem;
  cursor: pointer;
  position: relative;
  color: #FFF;
}
.navbar .nav-item::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #FFF;
  left: 0;
  top: 100%;
  position: absolute;
  transition: 200ms ease;
  transform: scaleX(0);
}
.navbar .nav-item:hover::before {
  transform: scaleX(1);
}
.navbar .line {
  width: 75px;
  height: 1px;
  background-color: #FFF;
}

.footer {
  height: 80px;
  width: 100%;
}
.footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.footer .footer-top .greet {
  font-weight: 400;
}
.footer .footer-top .socials {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.footer .footer-top .socials i {
  font-size: 1.5rem;
  cursor: pointer;
  transition: 200ms ease;
}
.footer .footer-top .socials i:hover {
  scale: 1.1;
}
.footer .footer-top .socials i:active {
  scale: 0.9;
}
.footer .footer-tradermark {
  text-align: center;
}

@keyframes move-horizontally-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
@keyframes move-horizontally-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(40px);
  }
}
.hero {
  width: 100%;
  min-height: 100dvh;
  height: 100%;
  position: relative;
}
.hero .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5019607843), rgba(0, 0, 0, 0));
  z-index: 999;
}
.hero .image-wrapper {
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.hero .image-wrapper h1 {
  z-index: 99999;
  color: rgba(255, 255, 255, 0.4588235294);
  font-weight: 500;
  cursor: pointer;
}
.hero .image-wrapper h1:hover {
  color: #FFF;
}
.hero .right-text {
  justify-content: flex-end;
  align-items: flex-end;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  gap: 0.125rem;
  width: 100%;
}
.wrapper .section {
  height: 600px;
  width: 25%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3137254902);
  border-radius: 4px;
  overflow: hidden;
}
.wrapper .section:hover .background-img {
  scale: 1;
}
.wrapper .background-img {
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: 300ms ease;
  scale: 1.25;
}
.wrapper .section:nth-child(1) .background-img {
  background-position-x: 0%;
}
.wrapper .section:nth-child(2) .background-img {
  background-position-x: 25%;
}
.wrapper .section:nth-child(3) .background-img {
  background-position-x: 50%;
}
.wrapper .section:nth-child(4) .background-img {
  background-position-x: 75%;
}

.photos {
  text-align: center;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.photos .see-more {
  width: 100%;
  height: 50px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.photos .see-more button {
  font-size: 1rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1882352941);
}
.photos .see-more .line {
  width: 20%;
  height: 2px;
  background-color: #000;
}

.see-image-btn {
  font-size: 0.8rem;
}

.photos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 250px;
  grid-auto-flow: dense;
  gap: 0.5rem;
}
.photos-grid .photo {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1882352941);
  position: relative;
}
.photos-grid .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.photos-grid .photo .hover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 0%;
  color: #FFF;
}
.photos-grid .photo .details {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  position: absolute;
  top: calc(100% - 50px);
  width: 100%;
  height: 50px;
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  transition: 300ms ease;
}
.photos-grid .photo .details .location {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  cursor: pointer;
  transition: 200ms ease;
}
.photos-grid .photo .details .location:hover {
  color: rgba(255, 255, 255, 0.4588235294);
}
.photos-grid .photo .download-btn {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  background-color: #D17D4F;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms ease;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}
.photos-grid .photo .download-btn i {
  font-size: 0.95rem;
}
.photos-grid .photo:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5647058824);
}
.photos-grid .photo:hover .hover {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5019607843), rgba(0, 0, 0, 0));
}
.photos-grid .photo:hover .details, .photos-grid .photo:hover .download-btn {
  opacity: 1;
  pointer-events: all;
}
.photos-grid .photo:hover .details {
  transform: translateY(0%);
}
.photos-grid .photo:hover .download-btn {
  transform: translateX(0%);
}
.photos-grid .span-w {
  grid-column: span 2;
}
.photos-grid .span-h {
  grid-row: span 2;
}
.photos-grid .span-wh {
  grid-column: span 2;
  grid-row: span 2;
}

@media (max-width: 800px) {
  .wrapper {
    height: 600px;
  }
  .wrapper .section {
    height: 400px;
  }
}
@media (max-width: 600px) {
  .wrapper {
    height: 500px;
  }
  .wrapper .section {
    height: 300px;
  }
}
@media (max-width: 500px) {
  .wrapper {
    height: 300px;
  }
  .wrapper .section {
    height: 200px;
  }
}
.image-details {
  text-align: center;
}

.panorama {
  border-radius: 100%;
  overflow: hidden;
  width: 300px;
  height: 300px;
  pointer-events: painted;
  cursor: pointer;
  transition: 200ms ease;
}
.panorama .img-wrapper {
  width: 100%;
  height: 100%;
}
.panorama .img-wrapper img {
  width: 100%;
  height: 100%;
}
.panorama:hover {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4392156863);
  scale: 1.05;
}

.panoramas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 300px;
  justify-content: center;
  grid-auto-flow: dense;
  gap: 1rem;
}

.individual-page {
  padding: 2.5rem 0 5rem 0;
  display: flex;
  flex-direction: column;
}
.individual-page .image-container {
  width: 100%;
  max-height: 700px;
}
.individual-page .image-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.individual-page .image-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 1rem 0 2rem 0;
}
.individual-page .image-details h3, .individual-page .image-details h2, .individual-page .image-details h4 {
  font-weight: 500;
}
.individual-page .image-details .location {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.individual-page .image-details .device {
  font-weight: 400;
}
.individual-page .image-details .date {
  font-weight: 300;
}
.individual-page .buttons {
  display: flex;
  gap: 1rem;
}

@media (max-width: 500px) {
  .individual-page .image-details {
    flex-direction: column;
    gap: 1rem;
  }
  .individual-page .image-details .details-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
}
.gear {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  width: 100%;
}
.gear .current-use {
  width: 400px;
  text-align: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
}
.gear .current-use .details p {
  max-width: 200px;
}
.gear .current-use .title {
  font-weight: 500;
  margin-bottom: 1rem;
}
.gear .image-wrapper {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  overflow: hidden;
  border-radius: 1px solid;
}
.gear .image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gear .upgrade-history {
  width: 100%;
}
.gear .upgrade-history .upgrades {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.gear .upgrade-history .upgrade {
  text-align: center;
}
.gear .upgrade-history .timeline-line {
  width: 3px;
  height: 200px;
  background-color: #000;
}

#map {
  width: 200px;
  height: 200px;
}/*# sourceMappingURL=main.css.map */